html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 30px;
    background: #F6F5F2;
}

@font-face {
    font-family: "PTSansCaptionRegular";
    src: url("fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot");
    src: url("fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/PTSansCaptionRegular/PTSansCaptionRegular.woff") format("woff"),
    url("fonts/PTSansCaptionRegular/PTSansCaptionRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerifRegular";
    src: url("fonts/PTSerifRegular/PTSerifRegular.eot");
    src: url("fonts/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"),
    url("fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansRegular";
    src: url("fonts/PTSansRegular/PTSansRegular.eot");
    src: url("fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansCaptionBold";
    src: url("fonts/PTSansCaptionBold/PTSansCaptionBold.eot");
    src: url("fonts/PTSansCaptionBold/PTSansCaptionBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PTSansCaptionBold/PTSansCaptionBold.woff") format("woff"),
    url("fonts/PTSansCaptionBold/PTSansCaptionBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

header{
    display: block;
    width: 980px;
    margin: 0 auto 20px;
}

header a:hover{
    color: #424950;
}

.logo{
    display: block;
    float: left;
    width: 138px;
    height: 23px;
}

header a{
    display: inline-block;
    float: left;
    text-decoration: none;
    color: #89949B;
    font-size: 14px;
    font-family: "PTSansCaptionRegular", serif;
    line-height: 2.4em;
    padding-left: 30px;
}

.userIcon{
    display: block;
    position: relative;
    left: 312px;
}


main{
    display: block;
    width: 980px;
    height: 1518px;
    background: #ffffff;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(148, 148, 148, 0.5);
    margin: 0 auto;
}


.top{
    display: block;
    float: left;
    width: 940px;
    padding: 20px 20px 0 20px;
}

.divider{
    display: block;
    width: 979px;
    float: left;
    border-bottom: 1px solid #F1F1F1;
}

.list{
    padding-bottom: 20px;
}

span.list{
    width: 100%;
    height: 18px;
    float: left;
    color: #424950;
    font-family: "PTSerifRegular", serif;
    font-size: 18px;
    font-weight: normal;

}

span.list span{
    color: #F5A623;
    font-size: 14px;
    padding-left: 5px;
}

nav a{
    display: inline-block;
    float: left;
    text-decoration: none;
    font-family: "PTSansRegular", serif;
    font-size: 14px;
    color: #424950;
    padding-right: 30px;
    padding-bottom: 25px;
}

nav a:first-child{
    display: block;
    float: left;
    border-bottom: 3px solid #F5A623;
    width: 70px;
    padding: 0 0 25px 0;
    margin-right: 30px;
}

.addNew{
    display: block;
    position: relative;
    left: 390px;
    float: left;
    background: #F5A623;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #ffffff;
    font-family: "PTSansCaptionBold", serif;
    font-size: 12px;
    padding: 4px 0 5px 10px;
    margin-bottom: 18px;
}

.addNew img{
    padding: 0 10px 0 8px;
}

.underDivider{
    display: block;
    float: left;
    padding: 20px;
}

.bottomTop{
    display: block;
    width: 900px;
    float: left;
    background: #F6F5F2;
    padding: 20px;
    margin: 0 0 20px 0;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.table{
    display: block;
    float: left;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 20px;
}

table{
    width: 938px;
    height: 1226px;
    border-collapse: collapse;
    float: left;
    text-align: left;
}

table tr{
    height: 32px;
}

table tr:hover, table tr:nth-child(odd):hover{
    background: #FFEFC0;
}

table td{
    width: auto;
    padding: 0 0 0 15px;
}

table tr:nth-of-type(1){
    height: 24px;
    background: #F6F5F2;
    border-bottom: 1px solid #E2E2E2;
}

table tr:nth-of-type(1):hover{
    background: none;
}

table tr:nth-of-type(1) td{
    color: #424950;
    font-family: "PTSansRegular", serif;
    font-size: 10px;
    text-transform: uppercase;
}

table tr:nth-of-type(1) td:hover{
    background: #EDEBE5;
}

table tr:nth-of-type(1) td:nth-of-type(9) img{
    display: block;
    float: right;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

table tr:nth-child(odd){
    background: #F9F9F9;
}

table tr:nth-of-type(21), table tr:nth-of-type(21):hover{
    height: 26px;
    background: #f5f4f2;
    text-transform: uppercase;
}



td{
    font-family: "PTSansRegular", serif;
    font-size: 12px;
    color: #282828;
}

div.left{
    display: block;
    float: left;
    width: 89px;
    height: 24px;
}

.left p, .right p{
    float: left;
    font-family: PTSansRegular, serif;
    font-size: 12px;
    color: #424950;
    padding: 5px 14px 0 0;
}

.left img, .right img{
    float: left;
}

div.right{
    display: block;
    float: right;
    width: 130px;
    height: 24px;
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    z-index: 3;
}
input[type="checkbox"] + label {
    width: 16px;
    height: 16px;
    background: url(img/checkbox.svg) 0 0 no-repeat;
    padding-left: 20px;
}
input[type="checkbox"]:checked + label {
    background: url(img/checked.svg) 0 0 no-repeat;
}

table tr:nth-of-type(n) td:nth-child(2){
    font-size: 15px;
}