/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */


.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	float: left;
	position: relative;
	width: 128px;
	height: 22px;
	border: 1px solid #BABABA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background: #ffffff;
	background: -moz-linear-gradient(270deg, #ffffff 0%, #f0f0f0 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0)); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, #ffffff 0%, #f0f0f0 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, #ffffff 0%, #f0f0f0 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, #ffffff 0%, #f0f0f0 100%); /* ie10+ */
	background: linear-gradient(180deg, #ffffff 0%, #f0f0f0 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* ie6-9 */
	cursor: pointer;
	margin-right: 10px;
}


.dropdown.open{
	background: #ffffff;
	z-index: 2;
}

/* CARAT */

.dropdown .carat{
	width: 5px;
	height: 5px;
	border: 2px solid #BABABA;
	border-top: none;
	border-left: none;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 7px;
	right: 10px;
}

.dropdown.open .carat{
	border: 2px solid #707070;
	border-top: none;
	border-left: none;
}


/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0;
	top: 0;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */

.dropdown .selected,
.dropdown li{
	display: block;
	font-family: "PTSansRegular", sans-serif;
	font-size: 12px;
	line-height: 1;
	color: #333333;
	padding: 6px 12px;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown.disabled .selected{
	color: #999;
}

.dropdown .selected::before{
	display: block;
	width: 10px;
	height: 10px;
	background: url(../img/lang-hover-icon.svg) center no-repeat;
	/* background-size: contain; */
	position: relative;
	top: 1px;
	left: -12px;
	z-index: 99999;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
	/*-webkit-box-shadow: 0 1px 3px 0 rgba(51,51,51,0.2);*/
	/*-moz-box-shadow: 0 1px 3px 0 rgba(51,51,51,0.2);*/
	/*box-shadow: 0 1px 3px 0 rgba(51,51,51,0.2);*/
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{

}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 6px 8px;
	color: #707070;
	font-size: 11px;
	text-align: left;
}

/* .focus class is also added on hover */

.dropdown li:hover{
	background: #3B73AF;
	position: relative;
	z-index: 3;
	color: #ffffff;
}
